.navbar{
    background-color:rgb(10, 10, 10);
}
.img{
    width: 60px;
   cursor: pointer;
}
.img:hover{
    animation: rotate 5s cubic-bezier(0,0,0,0) infinite  ;
    /* border: 1px solid black; */

}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
        /* border: 1px solid black; */
    }
    100%{ 
        transform: rotate(360deg);
    }
}
.anchor{
    text-decoration: none;
    color: black;
    font-weight: bold;
    opacity: .7;
    transition-duration: .3s;
}
.anchor:hover{
    opacity: 1;
}